@use '../../assets/styles' as *;

.modal-body {
  @include flex(false, false, column, 5rem);
  padding-top: 40px;
  padding-left: 75px;
  padding-right: 30px;
  width: 31%;
  background: #0f1d45;
  > * {
    @include size(100%);
  }
}

.close {
  @include flex(end, center, row);
}

@media screen and (max-width: 1600px) {
  .modal-body {
    @include flex($gap: 1rem);
    padding-left: 20px;
  }
}

@media screen and (max-width: 1440px) {
  .modal-body {
    @include size(35%);
  }
}

@media screen and (max-width: 1025px) {
  .modal-body {
    @include size(50%);
  }
}

@media screen and (max-width: 769px) {
  .modal-body {
    @include size(63%);
  }
}

@media screen and (max-width: 426px) {
  .modal-body {
    @include size(100%);
    padding-top: 35px;
    padding-left: 50px;
    padding-right: 40px;
  }

  .close {
    button {
      img {
        @include size(19px, 20px);
      }
    }
  }
}

@media screen and (max-width: 321px) {
  .modal-body {
    @include size(100%);
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 10px;
  }
}
