@use '../../assets/styles' as *;

header {
  @include flex(space-around, center, row, 12rem);
  margin-top: 40px;
}

ul {
  @include flex(center, center, row, 1.5rem);
}

.logo {
  @include size(false, 34px);
  @include flex(center, center, column);
  border-top: solid 1px color('text');
  border-bottom: solid 1px color('text');
}

.tel {
  @include flex(center, center, row, 1rem);
  @include font(18px, 35px, 600, 'm');
}

.tel-img {
  @include flex(center, center, column);
  width: 40.46px;
  height: 40.46px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background: rgba(255, 255, 255, 0.123);
  }
}
