@use '../../assets/styles' as *;

:nth-child(2) {
  @include font(50px, 78.9px, 600, 'r');
  text-align: center;
}

:nth-child(3) {
  @include font(40px, 58px, 600, 'r');
  text-align: center;
}

.logo {
  @include size(100%);
  @include flex(end, center, row);
  margin-top: 28%;
  padding-right: 50px;

  div {
    @include size(false, 34px);
    @include flex(center, center, row);
    border-top: solid 1px color('text');
    border-bottom: solid 1px color('text');
  }
}

@media screen and (max-width: 1600px) {
  :nth-child(3) {
    margin-top: 20%;
  }
  .logo {
    margin-top: 35%;
  }
}

@media screen and (max-width: 1600px) {
  .logo {
    margin-top: 45%;
  }
}

@media screen and (max-width: 426px) {
  :nth-child(2) {
    margin-top: 10%;
    @include font(30px, 30px);
  }

  :nth-child(3) {
    margin-top: 25%;
    @include font(25px, 30px);
  }

  .logo {
    margin-top: 40%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 376px) {
  :nth-child(3) {
    margin-top: 30%;
  }
  .logo {
    margin-top: 55%;
  }
}
